<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="styleregister.css" />
  </head>
  <body>
        <header>
      <nav class="navbar">
        <img src="images/sit.com_logo.png" alt="logo">
        <ul>
          <li><a href="Index.html">Home</a></li>
          <li><a href="/Home_Page/">About</a></li>
          <li><a href="/Home_Page/">Contact</a></li>
          <li><a href="/Home_Page/">Services</a></li>
          <li><a href="/Home_Page/">Payment</a></li>

      </nav>
    </header>
    <div class="wrapper">
      <h1>Create your account</h1>
      <p>Please fill in this form to create an account!</p>
      <form>
        <div class="input-box">
          <input type="text" placeholder="Firstname" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Lastname" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="number" placeholder="Phone number" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Username" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Password" required />
        </div>
        <div class="input-box">
          <input type="text" placeholder="Confirm Password" required />
          <i class="bx bxs-user"></i>
        </div>
        <button type="submit" class="btn">Sign Up</button>
        <div class="register-link">
          <p>Already have an account?<a href="login.html">Log In</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
