<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="stylelogin.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="images/sit.com_logo.png" alt="logo">
        <ul>
          <li><a href="Index.html">Home</a></li>
          <li><a href="/Home_Page/">About</a></li>
          <li><a href="/Home_Page/">Contact</a></li>
          <li><a href="/Home_Page/">Services</a></li>
          <li><a href="/Home_Page/">Payment</a></li>

      </nav>
    </header>

    <div class="wrapper">
      <h1>Login</h1>
      <form>
        <div class="input-box">
          <input type="text" placeholder="Username" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Password" required />
        </div>
        <div class="remember-forgot">
          <label><input type="radio" />Remember me</label>
          <a href="#">Forgot Password?</a>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
          <p>Don't have an account?<a href="register">Register</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
