<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="styleregister.css" />
    <script src="/public/register.js" defer></script>
  </head>
  <body>

    <div class="wrapper">
      <h1>Create your account</h1>
      <p>Please fill in this form to create an account!</p>

      <form id="registerForm" action="/register" method="POST" >
       <div class="input-box">
          <label for="firstname">First Name</label><br />
          <input id="firstname" name="firstname" type="text" placeholder="Firstname" required />
        </div>
        <div class="input-box">
          <label for="lastname">Last Name</label><br />
          <input id="lastname" name="lastname" type="text" placeholder="Lastname" required />
        </div>
        <div class="input-box">
          <label for="email">Email</label><br />
          <input id="email" name="email" type="email" placeholder="mail@example.com" required />
        </div>
        <div class="input-box">
          <label for="contact">Contact</label><br />
          <input id="contact" name="contact" type="number" placeholder="Phone number" required />
        </div>
        <div class="input-box">
          <label for="username">Username</label><br />
          <input id="username" name="username" type="text" placeholder="Username" required />
        </div>
        <div class="input-box">
          <label for="password">Password</label><br />
          <input id="password" name="password" type="password" placeholder="Password" required />
        </div>
        <div class="input-box">
          <label for="confirmPassword">Confirm Password</label><br />
          <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" required />
        </div>
        <div class="input-box">
          <label for="location">Location</label><br />
          <input id="location" name="location" type="text" placeholder="Location" required />
        </div>
        <div class="input-box">
          <label for="numberOfChildren">Number Of Children</label><br />
          <input id="numberOfChildren" name="numberOfChildren" type="number" min="0" placeholder="Number of Children" required />
        </div>
        <div class="input-box">
          <label>Who are you?</label><br />
          <label><input type="radio" name="role" value="parent" required> Parent</label>
          <label><input type="radio" name="role" value="sitter" required> Sitter</label>
        </div>
        <div class="input-box">
          <label for="profilePic">Profile Picture</label><br />
          <input id="profilePic" name="profilePic" type="file" placeholder="Picture" required />
        </div>

        <button type="submit" class="btn">Sign Up</button>
        <div class="register-link">
          <p>Already have an account? <a href="login">Log In</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
