<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/sit.com_logo.png" type="image/png">
    <title>Sitters</title>
    <link rel="stylesheet" href="stylesitters.css">
</head>
<body>
    <main>
        <div class="sittergrid">
        <img src="images/sit.com_logo.png" alt="logo">

        <div class="grid-container">
        <!--BOX 1-->
        <div class="item1">
          <img class="symbol" src="images/mark-up.png">
          <div class="box">
            <img src="images/Elizzy.png" alt="Elizabeth  Lewis">
            <div class="content">
            <h3>Elizabeth Lewis</h3>
            <p class="city"> <img src="images/location.png"> Jos, Nigeria</p>
            <p class="years">4 years exp</p>
            </div>
            </div>
            <div class="sub-content">
            <p class="avail"><img src="images/clock2.png">6 months available</p>
            <p class="phone"> <img src="images/call-2.png"> +2349122700008</p>
            </div>
            <div class="book">
            <button class="bookme">Book Me</button>
            </div> 
        </div>

        <!--BOX 2-->
        <div class="item2">
          <img class="symbol" src="images/mark-up.png">
          <div class="box">
            <img src="images/bintu.png" alt="Bintu Abdul">
            <div class="content">
            <h3>Bintu Abdul</h3>
            <p class="city"> <img src="images/location.png"> Abuja, Nigeria</p>
            <p class="years">2 years exp</p>
            </div>
            </div>
            <div class="sub-content">
            <p class="avail"><img src="images/clock2.png">1 month available</p>
            <p class="phone"> <img src="images/call-2.png"> +2349122700008</p>
            </div>
            <div class="book">
            <button class="bookme">Book Me</button>
            </div>  
        </div>

        <!--BOX 3-->
        <div class="item3">
          <img class="symbol" src="images/mark-up.png">
          <div class="box">
            <img src="images/chizom.png" alt="Chizom John">
            <div class="content">
            <h3>Chizom John</h3>
            <p class="city"> <img src="images/location.png"> Lagos, Nigeria</p>
            <p class="years">2 years exp</p>
            </div>
            </div>
            <div class="sub-content">
            <p class="avail"><img src="images/clock2.png">6 months available</p>
            <p class="phone"> <img src="images/call-2.png"> +2349122700008</p>
            </div>
            <div class="book">
            <button class="bookme">Book Me</button>
            </div> 
        </div>

        <!--BOX 4-->
        <div class="item4">
          <img class="symbol" src="images/mark-up.png">
          <div class="box">
            <img src="images/hawa.png" alt="Hawa Honda">
            <div class="content">
            <h3>Hawa Honds</h3>
            <p class="city"> <img src="images/location.png"> Kaduna, Nigeria</p>
            <p class="years">5 years exp</p>
            </div>
            </div>
            <div class="sub-content">
            <p class="avail"><img src="images/clock2.png">3 months available</p>
            <p class="phone"> <img src="images/call-2.png"> +2349122700008</p>
            </div>
            <div class="book">
            <button class="bookme">Book Me</button>
            </div> 
        </div>

         <!--BOX 5-->
         <div class="item5">
          <img class="symbol" src="images/mark-up.png">
          <div class="box">
            <img src="images/nike.png" alt="Nike Ajao">
            <div class="content">
            <h3>Nike Ajao</h3>
            <p class="city"> <img src="images/location.png"> Ogun, Nigeria</p>
            <p class="years">8 years exp</p>
            </div>
            </div>
            <div class="sub-content">
            <p class="avail"><img src="images/clock2.png">7 months available</p>
            <p class="phone"> <img src="images/call-2.png"> +2349122700008</p>
            </div>
            <div class="book">
            <button class="bookme">Book Me</button>
            </div> 
        </div>

        <!--BOX 6-->
        <div class="item6">
          <img class="symbol" src="images/mark-up.png">
          <div class="box">
            <img src="images/mary.png" alt="Mary Jay">
            <div class="content">
            <h3>Mary Jay</h3>
            <p class="city"> <img src="images/location.png"> Kogi, Nigeria</p>
            <p class="years">3 years exp</p>
            </div>
            </div>
            <div class="sub-content">
            <p class="avail"><img src="images/clock2.png">2 months available</p>
            <p class="phone"> <img src="images/call-2.png"> +2349122700008</p>
            </div>
            <div class="book">
            <button class="bookme">Book Me</button>
            </div> 
        </div>
    </div>
    </div>
    </main>
    <script src="sitters.js"></script>
</body>
</html>